/*Placement CSS*/

.center50 {
    vertical-align: middle;
    flex: 50%;
    max-width: 50;
    padding: 0 4px;
}

.otherCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* BackGround CSS*/

.body {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("/img/flattery.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Text Overlay */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(46, 60, 65);
}

.container1 {
    position: relative;
    width: 100%;
}

.container1:hover .overlay {
    margin-top: 04px;
    margin-bottom: 04px;
    opacity: .7;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*Text CSS */

.TitleText {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48pt;
    font-weight: 300;
    background-color: rgb(240, 251, 255);
}

.bodyText {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    font-weight: 100;
}

.p {
    text-align: center;
}


/*Grid CSS*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}


/* Create 2 equal columns that sits next to each other */

.column {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 2px;
}

.column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
}


/* Responsive makes a two column-layout*/

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}